<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="https://kit.fontawesome.com/218009f3a1.js" crossorigin="anonymous"></script>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div>
        <%= link_to "Bookers", "/" %>
      </div>
      <% if user_signed_in? %>
        <ul>
          <li>
            <%= link_to "/users/#{current_user.id}" do %>
              <i class="fas fa-home"></i>
              Home
            <% end %>
          </li>
          <li>
            <%= link_to users_path do %>
              <i class="fas fa-users"></i>
              Users
            <% end %>
          </li>
          <li>
            <%= link_to books_path do %>
              <i class="fas fa-book-open"></i>
              Books
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="fas fa-sign-out-alt"></i>
              Log out
            <% end %>
          </li>
        </ul>
      <% else %>
        <ul>
          <li>
            <%= link_to "/" do %>
              <i class="fas fa-home"></i>
              Home
            <% end %>
          </li>
          <li>
            <%= link_to about_path do %>
              <i class="fas fa-link"></i>
              About
            <% end%>
          </li>
          <li>
            <%= link_to new_user_registration_path do %>
              <i class="fas fa-user-plus"></i>
              Sign up
            <% end %>
          </li>
          <li>
            <%= link_to new_user_session_path do %>
              <i class="fas fa-sign-in-alt"></i>
              Log in
            <% end %>
          </li>
        </ul>
      <% end %>
    </header>
    <main>
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: key) %>
      <% end %>
      <%= yield %>
    </main>
    <footer>
      <p>CopyRight infratop.inc</p>
    </footer>
  </body>

</html>

